$main-bg: #F1EEE8;
$light-1: #FEFBF5;
$light-2: #FFF3E5;
$light-orange: #FFD1A6;
$med-orange: #FF8A58;
$dark-orange: #E95414;
$rust: #AD3400;
$light-purple: #994DF6;
$purple: #5A15AE;
$light-blue: #66B1EF;
$blue: #0164B2;
$gray-lightest: #DEDEDE;
$min-gray-interface: #919191;
$min-gray-interface-dark: #5C5C5C;
$black: #000000;
$drop-shadow: #C1C1C1;
$min-gray-text: #737373;