#addressBar {
  position: sticky;
  top: calc(40px + 150px + 40px);
  height: 56px;
  background-color: white;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 30%);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  width: 100000px;

  span {
    white-space: nowrap;
    color: black;
  }
}
