#addressBar {
  overflow-x: hidden;
  position: sticky;
  top: 90px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 30%);
  font-weight: 600;
  align-items: center;
  z-index: 1000;



  .address {
    white-space: nowrap;
    position: absolute;
    text-shadow: -4px 2px 6px white, -4px -2px 6px white;

    &.selectable {
      color: black;
      font-weight: bold;
    }

    &.unselectable {
      color: #999;
      font-weight: normal;
    }
  }
}

