@import './global/index.scss';

html, body {
  margin: 0;
  background-color: $main-bg;
  font-family: "Degular", sans-serif;
  //overflow-x: hidden;
}

label.hidden {
  display: none!important;
}



// .app-page {
//   color: $black;
// 	min-height: calc(100vw - 40px);
//   padding-top: 40px; /* height of the fixed header */
  
//   ul {
//     list-style-type: none;
//     padding: 0;
//     text-align: center;
//   }

//   .app-page-inner.placeholder {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//   }

//   .app-links {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }
// }