@import './global/index.scss';

button.btn-rounded {
  font-size: 14px;
  border-radius: 50px;
  background: $light-2;
  padding: 0px 24px;
  height: 36px;
  border: 1px solid black;
  display: flex;
	align-items: center;
	column-gap: 4px;
  font-family: "Sunset-Gothic", sans-serif;
  font-weight: 500;
}

button.btn-rounded:active,
button.btn-rounded.active {
  background: $light-orange;
}

button.btn-rounded:focus {
  outline: 2px solid $rust;
  outline-offset: 2px;
}

// button.btn-rounded.inactive {
//   outline: none;
// }

button:hover {
  cursor: pointer;
  background-color: $med-orange;
}