#landing {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 10000;

  font-size: 1.1em;
  .content {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -120px; /* Negative half of height. */
    margin-left: -270px; /* Negative half of width. */
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    padding: 20px;

    button {
      margin: 10px auto;
    }
  }

  .dontshow {
    font-size: 0.9em;
    text-align: right;
  }
}
