@import './global/colors.scss';

.map {
  width: 100vw;
  overflow-x: hidden;
  height: 150px;
  text-align: center;
  position: sticky;
  top: 40px;
  z-index: 10000;
  background-color: $main-bg;
}
