@import "./global/index.scss";

@import './global/colors.scss';

.map-controls {
  position: sticky;
  top: calc(40px + 150px);
  display: grid;
  grid-template-columns: 150px 150px auto 175px 150px;
  grid-template-rows: 38px 400px;
  column-gap: 10px;
  row-gap: 10px;
  width: 100vw;
  align-items: center;
  height: 40px;
  z-index: 10001;
  background-color: $main-bg;
  overflow: visible;

  #searchAndFilter {
    grid-column: 4 / span 1;
  }

  .search-and-filter-opts{
      grid-column: 4 / span 2;
      grid-row: 2 / span 1;
      align-self: start;
  }

  #scrollRight {
    grid-column: 5 / span 1;
  }

  button {
    font-size: 14px;
    border-radius: 50px;
    background: $light-2;
    padding: 0px 24px;
    height: 36px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    font-family: "Sunset-Gothic", sans-serif;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background-color: $med-orange;
    }
  }
}
