@import './global/index.scss';

.map-and-controls-container {
  position: fixed;
  top: 40px;
  width: 100vw;
  z-index: 999;
}

.map-container.maximized {
  height: 150px;

  svg.d3-component {
    display: block;
  } 
}

.map-container.minimized {
  height: 30px;
  overflow: hidden;
  
  .map {
    height: 30px;
    svg.d3-component {
      display: none;
    } 
  }
}

.map-container {
  border-top: $outline-border;
  border-bottom: $outline-border;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-1;

  .minimize-map-ctrl.hidden {
    display: none;
  }

  .minimize-map-ctrl.visible {
    display: flex;
  }
  
}

.minimize-map-ctrl {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  border: 1px solid black;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimize-map-ctrl:hover {
  cursor: pointer;
  background-color: $light-orange;
}


.map-controls {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 1px;
  margin-bottom: -1px;
  justify-content: space-between;
  z-index: 999;

  .map-controls-inner {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
  }

  .map-controls-right {
    .minimize-map-ctrl.visible {
      position: initial;
    }
    .minimize-map-ctrl.hidden {
      display: none;
    }
  }

  .map-controls-right,
  .map-controls-left {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  #search.btn-rounded {
    font-weight: 300;
  }

  .search-and-filter-opts {
    display: none;
  }

  .search-and-filter-opts.visible {
    position: absolute;
    width: 315px;
    background: $light-1;
    border: 1px solid black;
    top: 28px;
    right: 26px;
    border-radius: 36px;
    display: flex;
    flex-direction: column;

    label.control-label { 
      font-family: "Sunset-Gothic", sans-serif;
      font-weight: 500;
    }

    .icon-close-search-container {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      margin-right: 16px;
      margin-top: 16px;
    }

    .icon-close-search-container:hover {
      cursor: pointer;
    }

    .search-control {
      padding: 0px 0px 20px 0px;
      display: flex;
      flex-direction: column;
      width: calc(100% - 40px);
      align-self: center;

      #search-control-input {
        border-radius: 50px;
        height: 30px;
        border: 1px solid black;
        margin-top: 8px;
        padding-left: 12px;
        background: none;
      }

      input[type="text"] {
        font-family:inherit;
        font-family: "Degular", sans-serif;
      }

      #search-control-input:focus {
        outline: none;
        // box-shadow: 0px 0px 5px #0066ff;
        background: white;
      }
    }

    .divider {
      border-bottom: 1px solid #C1C1C1;
    }

    .years-control {
      padding: 16px 20px 28px 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      label.control-label {
        margin-bottom: 8px;
      }

      label.year-label {
        margin-bottom: 8px;
        font-weight: 300;
        font-family: "Sunset-Gothic", sans-serif;
      }

      .year-control:hover {
        cursor: pointer;
      }

      .year-control {
        margin-top: 12px;
        width: 16px;
        height: 16px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        position: relative;

        input[type="checkbox"] {
          margin-right: 8px;
          visibility: hidden;
        }

        .icon-year-checked {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        label {
          display: block;
          width: 16px;
          height: 16px;

          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;

          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          -ms-transition: all .4s ease;
          transition: all .4s ease;
          cursor: pointer;
          margin-left: 2px;
        }
      }

      .year-control.checked {
        background: $dark-orange;
      }
    }
  }
}

text {
	font-family: 'Degular-Text';
	font-weight: 500;
	font-size: 13px;
}

.strip-addresses {
  height: 56px;
  background-color: white;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 30%);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strips-container.full,
.strips-shade.full {
  top: calc(40px + 30px + 60px); // header + max map + addresses
  height: calc(100% - (40px + 30px + 60px));
}

.strips-container,
.strips-shade {
  top: calc(40px + 150px + 60px); // header + min map + addresses
  height: calc(100% - (40px + 150px + 60px));
  position: fixed;
	width: 100vw;
	overflow: scroll;
}

.strips-container.noscroll {
  overflow: hidden;
}

.strips-shade.visible {
  background: rgb(0 0 0 / 33%);
  pointer-events: none;
  z-index: 998;
}