@import './global/index.scss';

.map-and-controls-container {
  position: fixed;
  top: 40px;
  width: 100vw;
  z-index: 999;
}

.map-container.maximized {
  height: 150px;

  svg.d3-component {
    display: block;
  } 
}

.map-container.minimized {
  height: 30px;
  // overflow: hidden;
  
  .map {
    height: 30px;
    svg.d3-component {
      display: none;
    } 
  }
}

.map {
  .d3-component.loaded-false{
    display: none!important;
  }

  .d3-component.loaded-true{
    display: block;
  }

  .map-loading-text.loaded-false {
    display: block;
  }

  .map-loading-text.loaded-true {
    display: none;
  }
}

.map-container {
  border-top: $outline-border;
  border-bottom: $outline-border;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-1;

  .minimize-map-ctrl.hidden {
    display: none;
  }

  .minimize-map-ctrl.visible {
    display: flex;
  }
  
}

.minimize-map-ctrl {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  border: 1px solid $black;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimize-map-ctrl:hover {
  cursor: pointer;
  background-color: $light-orange;
}

.map-controls {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 1px;
  margin-bottom: -1px;
  justify-content: space-between;
  z-index: 999;

  .map-controls-inner {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
  }

  .map-controls-right {
    .minimize-map-ctrl.visible {
      position: initial;
    }
    .minimize-map-ctrl.hidden {
      display: none;
    }
  }

  .map-controls-right,
  .map-controls-left {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  
}

text {
	font-family: 'Degular-Text';
	font-weight: 500;
	font-size: 13px;
}

.strip-addresses {
  height: 56px;
  background-color: white;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 30%);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;

    & .hidden {
      display: none;
    }
  }

  svg g text{
    cursor:pointer;
  }
}

.strips-container.full {
  top: calc(40px + 30px + 60px); // header + max map + addresses
  height: calc(100% - (40px + 30px + 60px));
}

.strips-shade.full {
  top: calc(40px + 30px); // header + max map + addresses
  height: calc(100% - (40px + 30px));
}

.strips-container {
  top: calc(40px + 150px + 60px); // header + min map + addresses
  height: calc(100% - (40px + 150px + 60px));
  position: fixed;
	width: 100vw;
	overflow: scroll;
}

.strips-shade {
  top: calc(40px + 150px); // header + min map + addresses
  height: calc(100% - (40px + 150px));
  position: fixed;
	width: 100vw;
	overflow: scroll;
}

.strips-container.noscroll {
  overflow: hidden;
}

.strips-shade.visible {
  background: rgb(0 0 0 / 33%);
  z-index: 998;
}