@import './global/index.scss';

.nav-header {
  position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 40px;
  background-color: $main-bg;
  width: 100vw;
  font-family: "Sunset-Gothic", sans-serif;
  z-index: 9999;
  top:0;
  transition: all 0.2s linear;

  a.home-link {
    border-radius: 50px;
    padding: 1px 12px;
    margin-left: 24px;

    h1 {
      font-size: 16px;
      font-weight: 500;
      margin: 0px;
    }
  }

  // a.home-link:focus {
  //   outline: 2px solid $rust;
  //   outline-offset: 2px;
  // }


  h1:hover {
    color: $rust;
  }

  a, a:active, a:visited {
    font-weight: 400;
    text-decoration: none;
  }

  a, a:visited {
    color: black;
  }

  .nav-links-container {
    flex-direction: row;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      column-gap: 24px;

      a {
        border-radius: 50px;
      }
      
      a:focus {
        // outline: 2px solid $rust;
        // outline-offset: 2px;
        // .nav-link {
        //   border: 1px solid $rust;
        // }
      }
  
      a:active {
        outline: none;
        .nav-link {
          color: $min-gray-text;
          border: 1px solid $min-gray-text;
        }
      }
      

      li {
        display: inline-flex;
        font-size: 16px;
      }

      .nav-link {
        border: 1px solid $main-bg;
        padding: 0px 12px;
        border-radius: 50px;
      }

      .nav-link:hover {
        border: 1px solid black;
      }
      
    }  
  }
}