@import './global/index.scss';

.modal-backdrop {
    width: 100%;
    height: calc(100vh - 40px);
    top: 40px;
    left: 0;
    position: fixed;
    z-index: 99999;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #nextImage {
        position: absolute;
        right: 10px;
    }

    #previousImage {
        position: absolute;
        left: 10px;
    }
}

.photo-viewer-modal {
    background: $light-1;
    border-radius: 36px;
    padding: 36px;
}

.nearby-addresses {
    position: absolute;
    bottom: 48px;
    left: 40px;
    height: 56px;
    padding: 0px 42px;
    background: $light-1;
    border: 1px solid $black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.nearby-addresses-label-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.nearby-addresses-label-container:hover {
    color: $rust;
    cursor: pointer;
}

.nearby-addresses-label {
    font-family: "Degular-Text";
    font-size: 13px;
    font-weight: 500;
}

.modal-header {
    background: $black;
    width: 100%;
    // height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .modal-close-icon {
        margin-top: 12px;
        margin-right: 12px;
    }
    .modal-close-icon:hover {
        cursor: pointer;
    }
}

.icon-collapse-nearby:hover {
    cursor: pointer;
}

ul.nearby-addresses-list {
    display: flex;
    column-gap: 30px;
    .nearby-address-link {
        font-family: "Sunset-Gothic";
        font-weight: 300;
        color: $black;
        display: block;
        position: relative;
        // position: relative;
    }
    .nearby-address-link:hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $black;
    }
    .nearby-address-link,
    .nearby-address-link:active,
    .nearby-address-link:visited {
        text-decoration: none;
    }
}

.photo-credits {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px 20px;
    font-size: 14px;
    a,
    a:active,
    a:visited {
        color: white;
        text-decoration: none;
        position: relative;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
    }
}

// Overrides for React IIIF Viewer
.react-iiif-viewer.css-1lo3585 {
    width: 100vw;
    flex-grow: 1;
    .css-155grvh {
        background: $black;
    }
    button {
        background: $black;
    }
    svg {
        fill: white;
    }
    .css-17zjxtl button:first-of-type {
        border: none!important;
    }
}