@import './global/index.scss';

#search.btn-rounded {
  font-weight: 300;
}


.search-and-filter-opts {
  width: 315px;
  background: $light-1;
  border: 1px solid $black;
  border-radius: 36px;
  display: flex;
  flex-direction: column;

  label.control-label { 
    font-family: "Sunset-Gothic", sans-serif;
    font-weight: 500;
  }

  .icon-close-search-container {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 16px;
  }

  .icon-close-search-container:hover {
    cursor: pointer;
  }

  .search-control {
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    align-self: center;

    #search-control-input {
      border-radius: 50px;
      height: 30px;
      border: 1px solid $black;
      margin-top: 8px;
      padding-left: 12px;
      background: none;
    }

    input[type="text"] {
      font-family:inherit;
      font-family: "Degular", sans-serif;
    }

    #search-control-input:focus {
      outline: none;
      // box-shadow: 0px 0px 5px #0066ff;
      background: white;
    }
  }

  .search-results-outer {
    height: 1px;
    position: relative;

    .search-results-inner.visible {
      display: block;
      width: 276px;
      height: 212px;
      background: white;
      position: absolute;
      z-index: 3000;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid $min-gray-interface;
      box-shadow: 0px 0px 8px 1px $drop-shadow;
      border-radius: 10px;
      overflow: hidden;
    }

    .search-results-inner.hidden {
      display: none;
    }

    ul.search-results-list {
      margin-top: 8px;
      margin-bottom: 8px;
      li {
        text-align: left;

        .result-list-item {
          display: flex;
          align-items: center;
          height: 28px;
          padding: 0px 12px;
          font-size: 14px;
          font-weight: 300;
        }
        
        .result-list-item:hover {
          background: $main-bg;
          cursor: pointer;
        }
      }
    }
  }

  .divider {
    border-bottom: 1px solid #C1C1C1;
  }

  .years-control {
    padding: 16px 20px 28px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    label.control-label {
      margin-bottom: 8px;
    }

    label.year-label {
      margin-bottom: 8px;
      font-weight: 300;
      font-family: "Sunset-Gothic", sans-serif;
    }

    .year-control:hover {
      cursor: pointer;
    }

    .year-control {
      margin-top: 12px;
      width: 16px;
      height: 16px;
      border: 1px solid $black;
      display: flex;
      align-items: center;
      position: relative;

      input[type="checkbox"] {
        margin-right: 8px;
        visibility: hidden;
      }

      .icon-year-checked {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      label {
        display: block;
        width: 16px;
        height: 16px;

        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;

        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        margin-left: 2px;
      }
    }

    .year-control.checked {
      background: $dark-orange;
    }
  }
}