@import "./global/index.scss";

.story {
  position: relative;
  margin-top: 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Degular-Text", sans-serif;

  a {
    color: $dark-orange;
  }

  /* headline image block */
  .header-image {
    height: calc(75vh - 40px);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }

	.background-texture{
		position: absolute;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
    	background-image: url('../assets/textures/noise-gradient-footer.png');
    	mix-blend-mode: multiply;
		width: 100%;
		height: calc(44vw - 40px);
	}

  .story-title {
    width: 67vw;
    font-size: 74px;
    line-height: 66px;
    font-weight: 900;
    text-align: center;
    //color: $light-orange;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    //text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  }


  article > p:first-child {
    font-size: 24px;
    line-height: 32px;
    font-family: "Sunset-Gothic", sans-serif;
  }

  ul.strip {
    list-style: none;
    display: flex;
    align-items: flex-start;
    max-width: 100vw;
    padding: 0;
    margin: 40px 0;

    img {
      max-width: 100%;
    }
  }

  /* single image block */
  .single-image {
    width: 62.5%;
    margin: 0 auto 60px auto;
    .caption {
      font-size: 13px;
      line-height: 26px;
      font-family: "Sunset-Gothic", sans-serif;
    }
    img {
      max-width: 100%;
    }
  }

  figure {
    margin: 0;

    ul {
      list-style: none;
      display: flex;
      max-width: 100vw;
      padding: 0;
      margin: 0;

      img {
        max-width: 100%;
      }
    }

    figcaption {
      font-family: "Sunset-Gothic", sans-serif;
      font-size: 13px;
      line-height: 26px;
      margin: 0;
      box-sizing: border-box;
      padding: 4px 30px;
    
      a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $dark-orange;
            text-decoration: underline;
        }
      }
    }
  }


  h3,
  p,
  div.byline {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    font-family: "Stymie", san-serif;
  }
}



