@import './global/index.scss';


#stories {
	text-align: center;
	ul {
		list-style: none;
		padding: 0;

		li {
			display: inline-block;
			width: 400px;
			text-align: center;
			margin: 30px;

			img {
				width: 360px;
				margin-top: 20px;
			}

			h3, h4 {
				font-weight: 300;
			}

			background-color: white;
			border: 1px solid #ccc;

			&:hover {
				background-color: $light-orange;
			}


		}
	}

	a {
		color: $dark-orange;
		text-decoration: none;
	}


}